<h1>New Users: Sign Up</h1>

<form method="POST" action="/sign-up">
  <label for="fname">First Name:</label>
  <input type="text" name="fname">

  <br><br>

  <label for="lname">Last Name:</label>
  <input type="text" name="lname">

  <br><br>

  <label for="username">Username:</label>
  <input type="text" name="username">

  <br><br>

  <label for="age">Age:</label>
  <input type="text" name="age">

  <br><br>

  <label for="password">Choose a Password:</label>
  <input type="text" name="password">

  <br><br><br>

  <input type="submit">
</form>
