<center>
<h1>New Users: Sign Up</h1>


<form method="POST" action="/sign-up">
  <label for="fname">First Name:</label>
  <br>
  <input type="text" name="fname">

  <br><br>

  <label for="lname">Last Name:</label>
  <br>
  <input type="text" name="lname">

  <br><br>

  <label for="username">Username:</label>
  <br>
  <input type="text" name="username">

  <br><br>

  <label for="age">Age:</label>
  <br>
  <input type="text" name="age">

  <br><br>

  <label for="password">Choose a Password:</label>
  <br>
  <input type="text" name="password">

  <br><br><br>
  <!-- <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">
    Submit
  </button> -->
  <input  type="submit">
</form>
</center>
